.app-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  height: 100vh;
  background-color: var(--background);
}

.public-main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
}
