# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables & secrets
.env
.env.*
!.env.example

# Build outputs
dist/
build/
out/
.angular/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
